<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Hello, ISpend User!</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-sm">

        <a class="navbar-brand" href="/">
            <img id="main-logo" src="/ISPEND_1.png" href="/"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/transactions/byDates">Link3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/budgetItems">Budget items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/transactions">Transactions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/categories">Categories</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<br>

<div class="container-xl">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Budget Item</th>
            <th scope="col">Amount</th>
            <th scope="col">Currency</th>
            <th scope="col">StartDate</th>
            <th scope="col">EndDate</th>
            <th scope="col">Balance</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item:${budgetItems}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.amount}">Text ...</td>
            <td th:text="${item.currency}">Text ...</td>
            <td th:text="${item.startDate}">Text ...</td>
            <td th:text="${item.endDate}">Text ...</td>
            <td th:text="${item.balance}">Text ...</td>
        </tr>
        </tbody>
    </table>
</div>

<a href="/logout.html"></a>
</body>
</html>